#gameplayScreen {
    background-color: black;
    border: 10px solid #6484ee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
}


#appleImg {
    opacity: 0;
}

#numbers {
    display: flex;
}

#scoreboard, #level {
    font: "Century Gothic";
    font-size: x-large;
    color: black;
    padding-right: 0;
    padding-left: 0;
    width: 200px;
}

#scoreboard {
    text-align: right;
    margin-left: auto;
    margin-right: 75px;
}

#level {
    margin-right: auto;
    text-align: left;
    margin-left: 75px;
}

.instructions {
    font: "Century Gothic";
    font-size: xx-large;
    font-weight: lighter;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-right: 0;
    padding-left: 0;
    width: 1000px;
    text-align: center;
}


